body {
  background-image: url(./rps-background.jpg);
}
.rps-game {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #1ea5ed;
  width: 400px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

#rps-btn {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  background-color: #caf0f8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: #03045e;
}
#restart-btn {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  background-color: #caf0f8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: #03045e;
}

#rps-game-resultss {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.neumorphic-shadows {
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px rgb(139, 133, 133);
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px rgb(104, 190, 205);
}

.neumorphic-shadows-hover:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.button-result-container {
  height: 100px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.image-container {
  display: flex;
  margin-top: 30px;
  height: 400px;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.img-sizes {
  height: max-content;
  padding-top: 50px;
  margin-left: 30px;
  max-width: 80%;
}

.image-2 {
  transform: scaleX(-1);
}

.pdraw-1,
.plose-1,
.pwin-1,
.rdraw-1,
.rwin-1,
.rlose-1,
.swin-1,
.sdraw-1,
.slose-1 {
  display: none;
}

.pdraw-2,
.plose-2,
.pwin-2,
.rdraw-2,
.rwin-2,
.rlose-2,
.swin-2,
.sdraw-2,
.slose-2 {
  display: none;
}
