.rps-game {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

#rps-btn {
  margin-top: 20px;
  margin-left: 50%;
  position: absolute;
}

#rps-results {
  text-align: center;
}
