.rps-game {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #1ea5ed;
  width: 400px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

#rps-btn {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  background-color: #caf0f8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: #03045e;
}

#rps-game-resultss {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: whitesmoke;
}

.neumorphic-shadows {
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.neumorphic-shadows-hover:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.button-result-container {
  height: 100px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.image-container {
  display: flex;
  margin-top: 30px;
  border: 2px solid black;
  height: 400px;
  justify-content: space-around;
}

.paper {
  height: max-content;
  margin-left: 30px;
  width: 30%;
  display: none;
}

.rock {
  margin-right: 30px;
  height: max-content;
  width: 30%;
  display: none;
}
.scissor {
  margin-right: 30px;
  height: max-content;
  width: 30%;
  display: none;
}

.image-2 {
  transform: scaleX(-1);
}
